:root {
    --spinner-size: 150px;
    --spinner-spacing: 10px;
    --spinner-bg-color: silver;
}

aside {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background: black;
    text-align: center;
    display: grid;
    place-items: center;
}

aside p {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    font-family: monospace;
    font-size: 10px;
}

fieldset {
    display: inline-block;
    padding: 2px;
    margin: 10px;
    text-align: center;
}

fieldset button {
    width: 80%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px;
    border: 0;
    border-radius: 0;
    background: 0;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

fieldset button:hover {
    background: 0;
    text-shadow: 0 0 1px white;
}

fieldset.button001 button {
    border-radius: 15px;
	background: no-repeat center radial-gradient(circle closest-side, white, red, orange, yellow, green, blue, indigo, violet, transparent), silver;
	background-size: 0 0, 100%;
    color: black;
	transition: 0.25s ease-out;
}
fieldset.button001 button:hover {
    background-size: 1000% 1000%, 100%;
}
