:root {
    --spinner-size: 150px;
    --spinner-spacing: 10px;
    --spinner-bg-color: silver;
}

aside {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background: black;
    text-align: center;
    display: grid;
    place-items: center;
}

aside p {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    font-family: monospace;
    font-size: 10px;
}

fieldset {
    display: inline-block;
    padding: 2px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
}

fieldset button {
    width: 80%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px 10px;
    margin: 10px;
    border: 0;
    border-radius: 0;
    background: 0;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

fieldset button:hover {
    background: 0;
}

#button-rainbow button {
    border-radius: 15px;
    color: black;
    text-shadow: 0 0 1px white;
	position: relative;
    background: linear-gradient(transparent, white, transparent);
}
#button-rainbow button::before {
    content: "";
    background: no-repeat center radial-gradient(circle closest-side, black, red, orange, yellow, green, blue, indigo, violet, transparent), black;
	background-size: 0 0, 100%;
    position: absolute;
    display: block;
    inset: 0;
    transition: 0.25s ease-out;
    z-index: -1;
}
#button-rainbow :is(button:hover, button:focus)::before {
    background-size: 350% 350%, 100%;
}

#button-matchbox button {
    background: silver;
    color: black;
    border-right: 0px solid red;
    border-left: 0px solid transparent;
    border-radius: 15px;
    transition: 0.25s;
}
#button-matchbox :is(button:hover, button:focus) {
    border-right: 40px solid red;
    position: relative;
}
#button-matchbox :is(button:hover, button:focus)::after {
    content: "►";
    position: absolute;
    right: 0;
    color: black;
    opacity: 0; animation: button-matchbox-animation 0.1s 0.15s forwards;
}
@keyframes button-matchbox-animation {
    to { right: -30px; opacity: 1; }
}
