:root {
    --spinner-size: 150px;
    --spinner-spacing: 10px;
    --spinner-bg-color: silver;
}

aside {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background: black;
    text-align: center;
    display: grid;
    place-items: center;
}

aside p {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    font-family: monospace;
    font-size: 10px;
}

fieldset {
    display: inline-block;
    padding: 2px;
    margin: 10px;
    text-align: center;
    max-width: 200px;
    background: silver;
}

fieldset button {
    width: 80%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px 10px;
    margin: 10px;
    border: 0;
    border-radius: 0;
    background: 0;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

fieldset button:hover {
    background: 0;
}

#button-rainbow { isolation: isolate; }
#button-rainbow button { border-radius: 15px; color: black; text-shadow: 0 0 1px white; position: relative; background: linear-gradient(transparent, white, transparent); box-shadow: 0 0 15px -5px black; }
#button-rainbow button::before { content: ""; background: no-repeat center radial-gradient(circle closest-side, black, red, orange, yellow, green, blue, indigo, violet, transparent), #444; background-size: 0 0, 100%; border-radius: 15px; position: absolute; display: block; inset: 0; transition: 0.25s ease-in-out; z-index: -1; }
#button-rainbow :is(button:hover, button:focus)::before { background-size: 350% 350%, 100%; }

#button-matchbox button { background: silver; color: black; border: 0 solid chocolate; background: repeating-linear-gradient(bisque, bisque 3px, beige 3px, beige 6px, bisque 6px); box-shadow: inset 0 0 3px 1px saddlebrown; border-radius: 5px; transition: 0.25s; }
#button-matchbox :is(button:hover, button:focus) { border-right-width: 40px; position: relative; }
#button-matchbox :is(button:hover, button:focus)::after { content: "►"; position: absolute; right: 0; color: black; opacity: 0; animation: button-matchbox 0.1s 0.15s forwards; }
@keyframes button-matchbox { to { right: -30px; opacity: 1; } }

#button-circus button { clip-path: polygon(0 0, 90% 10%, 100% 85%, 15% 100%); box-shadow: inset 0 0 10px white; }
#button-circus button:nth-of-type(n + 1) { background-color: red; }
#button-circus button:nth-of-type(n + 2) { background-color: blue; }
#button-circus button:nth-of-type(n + 3) { background-color: green; }
#button-circus button:nth-of-type(n + 4) { background-color: purple; }
#button-circus :is(button:hover, button:focus) { clip-path: polygon(10% 10%, 100% 0%, 85% 100%, 5% 90%); }

#button-pressme button { background: linear-gradient(mistyrose, ghostwhite, pink, hotpink); transition: 0.25s; position: relative; box-shadow: 0 5px 5px black; color: black; }
#button-pressme :is(button:hover, button:focus) { top: 5px; box-shadow: 0 1px 0 black; }

#button-offset button { background: white; position: relative; color: black; }
#button-offset button::before { content: ""; display: block; inset: 0; position: absolute; left: 5px; top: -5px; background: paleturquoise; width: 100%; height: 100%; mix-blend-mode: multiply; transition: background 0.25s; }
#button-offset :is(button:hover, button:focus)::before { background: turquoise; animation: button-offset 0.5s forwards; }
@keyframes button-offset {75%{left: -5px; top: 5px;} 100%{left: 0; top: 0;}}

#button-neon button { background: hotpink; color: black; transition: 0.25s; text-shadow: 0 0 3px white; border: 2px ridge dimgrey; border-radius: 15px; }
#button-neon :is(button:hover, button:focus) { color: pink; text-shadow: 0 0 8px hotpink; background: black; border-color: pink; box-shadow: inset 0 0 5px 2px hotpink, 0 0 5px 2px hotpink, 0 0 10px black; }

#button-fillup button { background: floralwhite; border: 1px solid firebrick; border-radius: 20px; color: black; position: relative; isolation: isolate; overflow: hidden; transition: color 0.25s; }
#button-fillup button::before { content: ""; display: block; position: absolute; inset: 0; background: firebrick; z-index: -1; transform: translateY(100%); transition: 0.25s; }
#button-fillup :is(button:hover, button:focus) { color: white; }
#button-fillup :is(button:hover, button:focus)::before {  transform: translateY(0%); transition: 0.5s; }

#button-sonar button { isolation: isolate; color: white; text-shadow: 0 0 5px black; position: relative; box-shadow: 0 0 0 0 transparent; }
#button-sonar button::before { content: ""; position: absolute; box-shadow: inset 0 -2px 10px 2px slateblue; inset: 0; background: teal; z-index: -1; }
#button-sonar :is(button:hover, button:focus) { animation: button-sonar 1s infinite ease-out; }
@keyframes button-sonar {50%{box-shadow: 0 0 0 2px rgba(46, 139, 87, 0.75);} 100%{box-shadow: 0 0 20px 20px rgba(46, 139, 87, 0); }}

#button-warning button { color: white; background: linear-gradient(transparent 30%, black 30%, black 70%, transparent 70%), repeating-linear-gradient(-45deg, gold, gold 15px, black 15px, black 30px); background-position: 0 0; transition: 1s ease-in-out; }
#button-warning :is(button:hover, button:focus) { background-position: 150px 0; }

#button-dimple button { color: black; text-shadow: 0 0 5px white; border-radius: 25px; box-shadow: inset 0 5px 15px white, inset 0 -5px 10px black; transition: 0.25s; }
#button-dimple button:nth-of-type(n + 1) { background-color: goldenrod; }
#button-dimple button:nth-of-type(n + 2) { background-color: cadetblue; }
#button-dimple button:nth-of-type(n + 3) { background-color: coral; }
#button-dimple button:nth-of-type(n + 4) { background-color: cornflowerblue; }
#button-dimple :is(button:hover, button:focus) { box-shadow: inset 0 5px 5px black, inset 0 -5px 10px white; transform: translateY(2px); }

#button-copy { isolation: isolate; }
#button-copy button { background: darkorchid; color: white; position: relative; }
#button-copy button::before,
#button-copy button::after { content: ""; display: block; position: absolute; width: 80%; height: 80%; transition: 0.5s; z-index: -1; }
#button-copy button::before { left: 0; top: 0; }
#button-copy button::after { right: 0; bottom: 0; }
#button-copy :is(button:hover, button:focus)::before { left: -10px; top: -5px; background: orchid; }
#button-copy :is(button:hover, button:focus)::after { right: -10px; bottom: -5px; background: mediumorchid; }
